#form {

    float: left;
}

#map {
    height: 300px;
    width: 400px;
}

#opinions {
    padding-top: 30px;
    clear: both;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
    border-collapse:collapse;
}