<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">

    <title>Place Ranking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
 <!--   <link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link href="css/placeranking.css" rel="stylesheet">
</head>
<body>
<h1>Express your opinion</h1>


<form id="form" action="rest/opinion" method="post" accept-charset="utf-8">
    <p><textarea id="comment" name="comment" rows="5" cols="60" required="required"></textarea></p>
    Category:
    <input list="categories" name="category" autocomplete="off" required="required">
    <datalist id="categories">
            {% for category in categories %}
                <option value="{{ category.categoryName }}">
            {% endfor %}
    </datalist>


    <p><input type="submit" value="Submit"/></p>
    </input><BR>
    <input id="lati" type="text" name="lat" value="50.0"/>
    <input id="long" type="text" name="lon" value="20.0"/>

</form>
<div id="map"></div>
<a href="/summary">See summary</a>

<div id="opinions">
    Filter:
    <select onchange="filter(this.value)">
        <option value="all">All</option>
        {% for category in categories %}
                <option value="{{ category.categoryName }}">{{ category.categoryName }}</option>
        {% endfor %}
    </select>
    <table>
    <tr>
        <th>Comment</th>
        <th>Category</th>
        <th>continent</th>
        <th>country</th>
        <th>region</th>
        <th>city</th>
        <th>isPositive</th>
        <th>Positive Probability</th>
        <th>Negative Probability</th>
        <th>Neutral Probability</th>
        <th>when</th>
    </tr>
        {% for opinion in opinions %}
            <tr class="toRemove">
            <td>{{ opinion.comment }}</td>
            <td>{{ opinion.category.categoryName }}</td>
            <td>{{ opinion.continent }},</td>
            <td>{{ opinion.country }},</td>
            <td>{{ opinion.region }},</td>
            <td>{{ opinion.city }},</td>
            <td>{% if opinion.sentiment == 'Positive' %} Positive {% else %}{% if opinion.sentiment == 'Negative' %} Negative {% else %} Neutral {% endif %}{% endif %},</td>
            <td>{{ opinion.probabilityPos }}</td>
            <td>{{ opinion.probabilityNeg }}</td>
            <td>{{ opinion.probabilityNeu }}</td>
            <td>{{ opinion.when }}</td>
            <tr>
        {% endfor %}

    </table>


</div>

   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
   <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDA4gHmfOeEzgHYAIrApmFdB5LtyWT2GU0&sensor=false"></script>
   <script src="js/StyledMarker.js" type="text/javascript"></script>
   <script src="js/placeranking.js" type="text/javascript"></script>
   <script>
       function filter(val) {
           $(".toRemove").remove();
           {% for opinion in opinions %}
               if (val == "{{ opinion.category.categoryName }}" || val == 'all') {
                   $("table").append("<tr class='toRemove'>" +
                           "<td>{{ opinion.comment }}</td> " +
                           "<td>{{ opinion.category.categoryName }}</td> " +
                           "<td>{{ opinion.continent }}</td>" +
                           "<td>{{ opinion.country }}</td> " +
                           "<td>{{ opinion.region }},</td> " +
                           "<td>{{ opinion.city }},</td> " +
                           "<td>{% if opinion.isPositive %} Positive {% else %} Negative {% endif %},</td> " +
                           "<td>{{ opinion.when }} </td> " +
                           "</tr> ");
               }
           {% endfor %}

       }
   </script>
</body>
</html>



