<!DOCTYPE html>
<html>
<head>
    <title> Summary </title>
</head>
<body>
<h2>Summary</h2>
<a href="/">See opinions</a>
<div id="chart_div" style="width: 900px; height: 500px;"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
    google.load('visualization', '1', {'packages': ['geochart']})
    google.setOnLoadCallback(drawRegionsMap)

     var earthOptions = {
        colorAxis: {minvalue: -10, colors: ['red', 'green']}
     }
    var resolution = 'countries'
    var options = earthOptions

    function drawChart(dataArray, options, onRegionClick) {
        var data = google.visualization.arrayToDataTable(dataArray)
        var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
        google.visualization.events.addListener(chart, 'regionClick', onRegionClick)
        chart.draw(data, options);
    }

    function drawRegionsMap() {
        var dataArray = [ ]
        dataArray.push(['Country', 'Sentiment'])
        var countryOptions = {
            region: 'PL',
            displayMode: 'regions',
            resolution: 'provinces'
        };



        var onRegionClick = function(event){
            var clickedRegion = event.region
            if( resolution == 'countries'){
                resolution = 'provinces'
                options.resolution = 'provinces'
                options.region = clickedRegion
                drawChart()
            }
        }

        $.ajax({
            url: "/rest/summary",
            cache: true,
            dataType: "json"
        }).done(function (jsonSummary) {
                    $.each(jsonSummary, function (index, country) {
                        var countryName = country.areaName
                        var opinions = parseInt(country.countPos) - parseInt(country.countNeg)
                        dataArray.push([countryName, opinions])
                    })
                    drawChart(dataArray, earthOptions, onRegionClick);
                }
        );





    };
</script>
</body>

</html>